<!DOCTYPE html>
@{
    Layout = "_Layout";
}

<div class="container">
    <main role="main" class="pb-3">
        <div class="text-center">
            <img src="~/Image/HelloWorld.jpg" class="img-fluid img-thumbnail" alt="Responsive image" />
        </div>
    @RenderBody()
</main>
</div>

