@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site has security measures in place to protect the loss, misuse, and alteration of the information under our control.</p>
